name: Portfolio Build Check

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Download Code
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    # Install in Root (because that is where package.json is)
    - name: Install Dependencies
      run: npm install

    # Build the app inside the 'frontend' folder
    - name: Force Site Build
      run: npx next build ./frontend --no-lint
      